{% extends 'base.html.twig' %}

{% block title %}Gérer le contenu{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Liste des romans</h1>

    <a href="{{ path('novel_new') }}" class="text-primary btn btn-secondary mt-2 mb-5 ms-3">Ajouter un roman</a>

    <div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Année de publication</th>
                <th>Résumé</th>
                <th>Adaptation au cinéma</th>
                <th>Adaptation au théâtre</th>
                <th>Récompense(s)</th>
                <th>Citation</th>
                <th>Couverture</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for novel in novels %}
            <tr>
                <td>{{ novel.title }}</td>
                <td>{{ novel.year }}</td>
                <td>{{ novel.summary }}</td>
                <td>{{ novel.movie ? 'Oui' : 'Non' }}</td>
                <td>{{ novel.play ? 'Oui' : 'Non' }}</td>
                <td>{{ novel.award }}</td>
                <td>{{ novel.quote }}</td>
                <td><img src="/build/images/{{novel.cover}}" alt="{{ novel.title }}" style="max-height:220px; max-width:150px;"></td>
                <td>
                    <a href="{{ path('novel_edit', {'id': novel.id}) }}" class="text-primary btn btn-secondary my-2">modifier</a>
                    <a href="{{ path('novel_delete', {'id': novel.id}) }}" class="text-primary btn btn-success my-2">supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}
