{% extends 'base.html.twig' %}

{% block title %}{{ novel.title }}{% endblock %}

{% block body %}
<div class="container my-4">
    <div class="">
        <h1 class="text-center text-decoration-underline fw-bold">{{ novel.title }}</h1>
        <div class="d-flex justify-content-center my-5">
            <img class="" src="/build/images/{{novel.cover}}" alt="{{ novel.title }}" style="max-height:220px; max-width:150px;">
        </div>
    </div>
    <div class="">
        <span class="text-decoration-underline fw-bold text-success">Résumé : </span>
        <p class="text mb-4">{{novel.summary}}</p>

        <span class="text-decoration-underline fw-bold text-success">Année de publication : </span>
        <p class="mb-4">{{novel.year}}</p>

        {% if novel.award == true %}
            <span class="text-decoration-underline fw-bold text-success">Récompense(s) : </span>
            <p class="mb-4">{{novel.award}}</p>
        {% endif %}

        {% if novel.movie == true and novel.play == true %}
            <span class="text-decoration-underline fw-bold text-success">Adaptation(s) : </span>
            <p class="">Ce livre a été adapté au cinéma et au théâtre</p>
        {% endif %}

        {% if novel.movie == true and novel.play == false %}
            <span class="text-decoration-underline fw-bold text-success">Adaptation(s) : </span>
            <p class="">Ce livre a été adapté au cinéma</p>
        {% endif %}

        {% if novel.play == true and novel.movie == false %}
            <span class="text-decoration-underline fw-bold text-success">Adaptation(s) : </span>
            <p class="">Ce livre a été adapté au théâtre</p>
        {% endif %}
    </div>
</div>
<a href="{{ path('novel_index') }}" class="btn btn-secondary text-primary ms-3 my-3">
    Retour à la liste des romans
</a>
{% endblock %}